image:
  registry: ghcr.io
  repository: ""  # Will be set from workflow
  tag: latest    # Will be set from workflow
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

replicaCount: 1

resources:
  limits:
    cpu: 300m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

ports:
  - name: http
    containerPort: 8080
    protocol: TCP
  - name: debug
    containerPort: 5005
    protocol: TCP

route:
  enabled: true
  host: ""  # Will be set from environment variable
  tls:
    enabled: true
    termination: edge
    insecureEdgeTerminationPolicy: Redirect

readinessProbe:
 httpGet:
   path: /q/health/ready
   port: http
 initialDelaySeconds: 10
 periodSeconds: 5
 timeoutSeconds: 2
 failureThreshold: 3
 successThreshold: 1

livenessProbe:
 httpGet:
   path: /q/health/live
   port: http
 initialDelaySeconds: 20
 periodSeconds: 10
 timeoutSeconds: 2
 failureThreshold: 3
 successThreshold: 1